* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

header {
  display: grid;
  gap: 1em;
  padding: 1em;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid black;
  color: #444444;
  border-bottom: 3px solid #aaaaaa;
}

main {
  margin: 1em;
}

#login-controls {
  justify-self: right;
  display: flex;
  gap: 1em;
  align-items: center;
}

#logout-btn,
#start-btn {
  font-size: 0.8em;
  padding: 0.5em;
  font-weight: 400;
  cursor: pointer;
}
